body {
  font-family: 'Open Sans', sans-serif;
  color: #373A3C;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.success {
  padding: 0.1rem 2rem;
  background-color: #520f0f;
}

.navbar-brand {
  font-family: 'Oswald';
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}

.display-1 {
  margin-top: 4rem;
  font-weight: 200;
  font-family: 'Oswald';
}

h1 {
  text-align: center;
  font-family: 'Oswald';
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 628px) {
  h1 {
    text-align: center;
    font-size: 4rem;
  }
}


header {
  background-image: url('../img/bg_hero-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15rem 0;
}

.btn-dark {
  background-color: #520f0f;
}

.btn-lg {
  font-size: 0.8rem;
  padding: 1rem 5rem;
}

h2 {
  font-family: 'Oswald';
  text-align: center;
  padding: 4rem 2.5rem 0.5rem 2.5rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

hr {
  padding: 0;
  text-align: center;
  border: 2px solid #333;
  margin: 0 45% 2rem 45%;
}

.carousel-inner img {
  width: 40%;
}

.carousel-indicators {
  top: 70px;
}

.carousel-indicators li {
  top: 80px;
  background-color: #373A3C;
  margin-top: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;

}

h4 {
  line-height: 3rem;
  font-weight: 600;
}

h5 {
  font-family: 'Oswald';
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  line-height: 2rem;
  padding: 0 2.5rem;
}

.card {
  margin: 1.25rem auto;
  width: 18.5em;
}

.card-text {
  font-weight: 300;
}

#ultimos-trabajos {
  background-color: #f3f3f3;
}

#final {
  background-color: #520f0f;
}

.fab {
  pointer-events: none;
  text-decoration: none;
  color: #fff;
}
