body {
  font-family: 'Open Sans', sans-serif;
  color: #373A3C;
}

.navbar-light .navbar-toggler {
    color: #ffffff;
    border-color: #ffffff;
}

.success {
  padding: 0.1rem 2rem;
  background-color: #901515;
}

.navbar-brand {
  font-family: 'Oswald';
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}

.display-1 {
  margin-top: 4rem;
  font-weight: 200;
  font-family: 'Oswald';
}

h1 {
  font-family: 'Oswald';
  font-size: 5rem;
  font-weight: 700;
  border-top: 1px solid #333;
}

header {
  background-image: url('../img/bg_hero-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem 15rem;
}

.btn-lg {
  font-size: 0.8rem;
  padding: 1rem 5rem;
}

h2 {
  font-family: 'Oswald';
  text-align: center;
  padding: 5rem 2.5rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.carousel-inner img {
  width: 40%;
}

.carousel-indicators li {
  background-color: #373A3C;
  margin-top: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

h4 {
  line-height: 3rem;
}

h5 {
  font-family: 'Oswald';
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  line-height: 2rem;
  padding: 0 2.5rem;
}

.card {
  margin: 1.25rem auto;
  width: 18.5em;
}

.card-text {
  font-weight: 300;
}

#ultimos-trabajos {
  background-color: #f3f3f3;
}

#final {
  background-color: #901515;
}

.Iconos {
  color: #fff;
}
